.cabecalho-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 12px;
  background-color: var(--cor-secundaria);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cabecalho-botao-icone {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: var(--cor-texto);
  transition: transform 0.2s ease-in-out;
}
.cabecalho-botao-icone:hover {
  transform: scale(1.1);
}