.cabecalho-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 12px;
  position: relative;
  background-color: var(--cor-secundaria);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.cabecalho-botao-icone {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: var(--cor-texto);
  transition: transform 0.2s ease-in-out;
}
.cabecalho-botao-icone:hover {
  transform: scale(1.1);
}

.menu-slider-container {
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  top:0;
  left:0;
  position: absolute;
  width: 100%;
  margin-top: 0;
  z-index: 100;
}
.menu-slider {
  background-color:white;
  box-shadow: 5px 5px 10px -1px rgba(33,33,33,0.4);
  height: 100%;
  
  /* display: none; */
  
  width: 80%;
  margin-top: 0;
}