.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(180deg, #cce9e4, #ffffff);
  font-family: 'Segoe UI', sans-serif;
  padding: 20px;
}

.conteudo {
  padding: 40px;
}

.saudacao-conteudo {
  display: flex;
  align-items: center;
  gap: 20px;
}

.saudacao-ilustracao {
  font-size: 100px;
  color: var(--cor-texto);
}

.saudacao-pergunta p {
  font-size: 22px;
  color: var(--cor-texto);
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 500;
}

.saudacao-icones-humor {
  display: flex;
  gap: 15px;
}

.saudacao-botao-humor {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: var(--cor-texto);
}

.saudacao-botao-humor:hover {
  opacity: 0.7;
}

.home-box {
  background: #fff;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
}

.home-box h1 {
  color: var(--cor-texto);
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
}

.menu-item {
  background-color: #19796f;
  color: white;
  padding: 12px 20px;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.menu-item:hover {
  background-color: #145a52;
}

@media (max-width: 600px) {
  .home-box {
    padding: 30px 20px;
  }
}
