/* 
    Cores com base no projeto do feito no Figma,
    que foi usado na primera parte do Projeto
*/

:root {
  --cor-primaria: #FFFFFF;
  --cor-secundaria: #D9D9D9;
  --cor-texto: #979393;
  --cor-button: #979393;
}